services:
  postgres-db:
    image: postgres:14-alpine
    container_name: postgres-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: datamodelingdb
      POSTGRES_USER: youruser
      POSTGRES_PASSWORD: yourpassword
    volumes:
      - postgres-data-volume:/var/lib/postgresql/data # Use a volume for data persistence even if the container is removed
    networks:
      bank-network:
        ipv4_address: 172.18.0.7

  # --- DATA GENERATION SERVICE ---
  data-generation-app:
    image: hs-bank-customer-data-generation:0.0.1-SNAPSHOT # Name from the bootBuildImage task
    container_name: data-generation-app
    ports:
      - "8081:8080"
    depends_on:
      - postgres-db
    environment:
      SPRING_PROFILES_ACTIVE: test
      # Use the internal service name for the DB connection
      #SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-db:5432/datamodelingdb
      #SPRING_DATASOURCE_USERNAME: youruser # Use your credentials
      #SPRING_DATASOURCE_PASSWORD: yourpassword # Use your credentials
    networks:
      bank-network:
        ipv4_address: 172.18.0.5
  # -------------------------------------------
  # --- DATA ANALYTICS SERVICE ---
  data-analytics-app:
    image: hs-bank-customer-data-analytics:0.0.1-SNAPSHOT # Name from the bootBuildImage task
    container_name: data-analytics-app
    ports:
      - "8082:8080" # Maps the internal port 8080 to external port 8082
    depends_on:
      - postgres-db
    environment:
      SPRING_PROFILES_ACTIVE: test # Activate the application-test.properties file
      # Use the internal service name for the DB connection
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-db:5432/datamodelingdb
      SPRING_DATASOURCE_USERNAME: youruser # Use your credentials
      SPRING_DATASOURCE_PASSWORD: yourpassword # Use your credentials
    networks:
      bank-network:
        ipv4_address: 172.18.0.6
  # -------------------------------------------
  # --- SIMPLE DATA MODELLING SERVICE ---
  simple-data-modeling-app:
    image: hs-bank-customer-simple-datamodeling:0.0.1-SNAPSHOT # Use the image name from the bootBuildImage task
    container_name: simple-data-modeling-app
    ports:
      - "8083:8080" # Keep the same port
    depends_on:
      - postgres-db
      # - kafka
    environment:
      # Use the internal service names for connections
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-db:5432/datamodelingdb
      SPRING_DATASOURCE_USERNAME: youruser # Use your credentials
      SPRING_DATASOURCE_PASSWORD: yourpassword # Use your credentials
      # SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:29092
    volumes:
      # Keep your staging data volume mount
      - ./local_data_staging:/opt/data/staging
    networks:
      bank-network:
        ipv4_address: 172.18.0.4
  # ----------------------------------------------------
  data-segmentation-app:
    container_name: data-segmentation-app
    image: hs-bank-customer-data-segmentation:latest
    restart: unless-stopped
    ports:
      - "5000:5000"
    volumes:
      # This line maps a folder named 'app-data' on your host to the container's data path
      - ./local_data_staging:/app/data/db
    environment:
      FLASK_ENV: production
      DATABASE_URL: postgresql://youruser:yourpassword@postgres-db:5432/datamodelingdb
    networks:
      bank-network:
        ipv4_address: 172.18.0.3

  bank-data-portal:
    image: hs-bank-customer-data-portal:latest
    container_name: bank-data-portal
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      # Ensure frontend starts after all core services are running
      - data-segmentation-app
      - simple-data-modeling-app
      - data-analytics-app
      - data-generation-app
      # ... other java services ..

networks:
  bank-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.18.0.0/24

# Define volumes and networks
volumes:
  postgres-data-volume:
  local_data_staging:
