/* Add styling specific to the Segment Predictor component here */

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

button {
  margin-top: 15px;
}

.result-box {
  margin-top: 25px;
  padding: 15px;
  border-left: 5px solid #4caf50; /* A nice Material Design green */
  background-color: #e8f5e9;
}
