<div class="dashboard-container">
  <h1>Retail Banking Customer Behaviour Analytics and AI Prediction Portal</h1>

  <button mat-flat-button color="primary" routerLink="/generate-data" style="margin-left: 10px;">
    <mat-icon>data_table</mat-icon> Data Generation
  </button>
  

  <button mat-raised-button color="default" routerLink="/predict"> <mat-icon>model_training</mat-icon> Go to AI Predictor </button>

   <app-data-modeling-page (jobTriggered)="fetchData()"></app-data-modeling-page>

  <div class="card-container">
    <mat-card>
      <mat-card-header><mat-card-title>Transactions by Location</mat-card-title></mat-card-header>
      <mat-card-content>
        <ul *ngIf="countsByLocation$ | async as data">
          <li *ngFor="let entry of data | keyvalue">
            {{ entry.key }}: {{ entry.value }} transactions
          </li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header><mat-card-title>Spending by Category</mat-card-title></mat-card-header>
      <mat-card-content>
        <ul *ngIf="spendingByCategory$ | async as data">
          <li *ngFor="let entry of data | keyvalue">
            {{ entry.key }}: ${{ entry.value | number : '1.2-2' }}
          </li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header><mat-card-title>Average Spending (BANK_A)</mat-card-title></mat-card-header>
      <mat-card-content>
        <ul *ngIf="bankAAverages$ | async as data">
          <li *ngFor="let entry of data | keyvalue">
            {{ entry.key }}: ${{ entry.value | number : '1.2-2' }}
          </li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header><mat-card-title>Average Spending (BANK_B)</mat-card-title></mat-card-header>
      <mat-card-content>
        <ul *ngIf="bankBAverages$ | async as data">
          <li *ngFor="let entry of data | keyvalue">
            {{ entry.key }}: ${{ entry.value | number : '1.2-2' }}
          </li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header><mat-card-title>Overall Platform Average</mat-card-title></mat-card-header>
      <mat-card-content>
        <p *ngIf="overallAverage$ | async as data">Average: ${{ data | number : '1.2-2' }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
